*, *::before, *::after, 
*:before, *:after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    #app{
        font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $darkBlue;
    }
}
.section{
    width: 100%;
}
.container{
    width: 100%;
    max-width: 1440px;
    @include marginAuto;
    padding-left: 15px;
    padding-right: 15px;
}
.d-block{
    display: block;
}
.text-center{
    text-align: center;
}
.c-green{
    color: $regularGreen;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    &.column{
        flex-direction: column;
    }
    &.row{
        flex-direction: row;
    }
}